.bar {
	display: flex;
	justify-content: space-between;
	border: $xxs - 7px solid $ColorCategoryBorder;
	border-radius: $xxs - 2px;
	margin-bottom: $m + 10px;

	@include screen('small-desktop') {
		margin-bottom: $s;
	}

	@include screen('tablet') {
		margin-bottom: $xs;
	}

	@include screen('mobile') {
		margin-bottom: $xxs;
	}
}

.input {
	flex: 1 1;
	width: 100%;
	padding: $xs - 1px $s -7px;
	letter-spacing: -0.01em;
	font-weight: 700;
}

.btn {
	padding: $xs - 1px;
	background-color: $ColorButton;
	border-radius: $xxs - 2px;
}
