.sidebar {
	display: flex;
	flex-direction: column;
	max-width: $xl2 - 4px;

	@include screen('non-desktop') {
		max-width: none;
	}

	&:first-child {
		margin-bottom: $m + 10px;
	}
}

.search {
	margin-top: $xl;

	@include screen('tablet') {
		margin-top: $m;
	}

	@include screen('mobile') {
		margin-top: $s;
	}
}
