.popUp {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: $ColorBg;
	cursor: default;
}

.container {
	position: relative;
	width: 45%;
	padding: 0 $xs + 4px;
	background-color: $ColorWhite;
	border-radius: $xxs + 2px;

	@include screen('tablet') {
		width: 70%;
	}

	@include screen('mobile') {
		width: 90%;
	}
}

.header {
	padding: $xs + 4px 0;
	border-bottom: $xxs - 7px solid $ColorBlack;
}

.title {
	@include h3();
}

.body {
	max-height: 80vh;
	overflow-y: auto;
	scrollbar-width: thin;
	display: flex;
	flex-direction: column;
	gap: $xs + 4px;
	padding: $xs + 4px 0;
}

.closeBtn {
	position: absolute;
	right: $xs + 4px;
	top: $xs + 4px;
	width: $s;
	height: $s;
	opacity: 0.5;
	transition: opacity 0.3s ease 0s;

	&:hover {
		opacity: 1;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		width: $xxs - 6px;
		background-color: $ColorError;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}
