.select {
	position: relative;
}

.selectItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: $xs + 8px;
	border: $xxs - 7px solid $ColorBorderIntense;
	border-radius: $xxs - 6px;
	@include textS();
	color: $ColorPrimary;

	&Active {
		border-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	&Error {
		border-color: $ColorError;
	}
}

.menu {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $ColorWhite;
	border: $xxs - 7px solid $ColorBorderIntense;
	border-bottom-right-radius: $xxs - 6px;
	border-bottom-left-radius: $xxs - 6px;
	max-height: $xl1;
	overflow-y: auto;

	& > *:not(:last-child) {
		border-bottom: $xxs - 7px solid $ColorBorderIntense;
	}
}

.option {
	padding: $xs + 2px;
	transition: background-color 0.3s;
	text-align: center;

	&Active {
		background-color: $ColorButton;
	}

	&:hover {
		background-color: $ColorButtonHover;
	}
}

.error {
	position: absolute;
	top: $xxs - 18px;
	left: $xs - 1px;
	padding: 0 $xxs + 2px;
	background-color: $ColorWhite;
	color: $ColorError;
	@include textXs();
}
