.container {
	display: flex;
	justify-content: space-between;
	gap: $xxl + 27px;
	margin: 0 auto $xxl + 8px;
	width: 100%;
	max-width: $xl8 + 30px;
	padding: 0 $xs - 1px;

	@include screen('small-desktop') {
		gap: $m + 12px;
	}

	@include screen('non-desktop') {
		flex-direction: column-reverse;
		gap: $s - 2px;
	}

	@include screen('tablet') {
		margin-bottom: $m;
	}

	@include screen('mobile') {
		margin-bottom: $s;
	}
}
