.section {
	padding-top: $xxl + 8px;
	margin-bottom: $xxl + 8px;

	@include screen('small-desktop') {
		padding-top: $l;
	}

	@include screen('tablet') {
		padding-top: $m + 2px;
	}

	@include screen('mobile') {
		padding-top: $s - 2px;
	}
}

.postInfo {
	max-width: $xl5 + 68px;
	margin: 0 auto $m + 18px;

	@include screen('small-desktop') {
		margin-bottom: $s + 8px;
	}

	@include screen('tablet') {
		margin-bottom: $s - 2px;
	}

	@include screen('mobile') {
		margin-bottom: $xs;
	}
}

.postImage {
	display: block;
	max-width: $xl8;
	max-height: $xl4 - 18px;
	width: 100%;
	object-fit: cover;
	margin-bottom: $l - 16px;

	@include screen('small-desktop') {
		max-width: $xl6 + 100px;
		max-height: $x3 + 20px;
		margin: 0 auto $s + 8px;
	}

	@include screen('tablet') {
		max-width: $xl6;
		max-height: $xl2 + 20px;
		margin: 0 auto $s - 2px;
	}

	@include screen('mobile') {
		max-width: none;
		width: 100%;
		max-height: $xl2;
		margin: 0 auto $xs + 4px;
	}

	@include screen('(max-width: 500px)') {
		max-height: $xl1;
	}
}

.postTitle {
	@include h1();
	margin-bottom: $s + 2px;

	@include screen('tablet') {
		@include h2();
		margin-bottom: $xs + 4px;
	}

	@include screen('mobile') {
		@include h4();
		margin-bottom: $xs + 4px;
	}
}

.postSubtitle {
	@include h2();
	margin-bottom: $xs;
	color: $ColorPrimary;

	@include screen('tablet') {
		@include h3();
	}

	@include screen('mobile') {
		@include h4();
	}
}

.postText {
	display: flex;
	flex-direction: column;
	gap: $m;
	max-width: $xl6 + 43px;
	margin: 0 auto;
	@include textS();
	color: $ColorTextLight;

	@include screen('small-desktop') {
		gap: $s - 2px;
	}

	@include screen('tablet') {
		gap: $xs - 1px;
	}

	@include screen('mobile') {
		gap: $xs - 1px;
	}
}

.userInfo {
	display: flex;
	gap: $xs;
	margin-bottom: $xs + 8px;

	@include screen('tablet') {
		margin-bottom: $xs;
	}

	@include screen('mobile') {
		margin-bottom: $xs;
	}
}

.userImage {
	width: $m;
	height: $m;
	border-radius: 50%;
}

.userName {
	@include h3();
	margin-top: $xxs - 15px;
	color: $ColorUser;

	@include screen('tablet') {
		@include h4();
		margin-top: 0px;
	}

	@include screen('mobile') {
		@include h5();
		margin-top: $xxs - 15px;
	}
}

.category {
	display: flex;
	gap: $xxs - 4px;
	align-items: center;
}

.categoryIcon {
	width: $xs + 8px;
	height: $xs + 8px;
}
