.section {
	@include textS();
	margin-bottom: $xxl + 8px;

	@include screen('tablet') {
		margin-bottom: $m;
	}

	@include screen('mobile') {
		margin-bottom: $s;
	}
}

.title {
	@include h1();
	margin-bottom: $m + 16px;

	@include screen('mobile') {
		margin-bottom: $xs + 4px;
		@include h3();
	}
}

.noPosts {
	@include h2();
	margin-top: $xxs - 40px;

	@include screen('mobile') {
		@include h5();
		margin-top: $xxs - 20px;
	}
}
