.card {
	max-width: $xl3 + 5px;

	&:hover > .img > img {
		transform: scale(1.1);
	}

	@include screen('tablet') {
		max-width: 47%;
	}

	@include screen('mobile') {
		max-width: none;
	}
}

.img {
	width: 100%;
	max-height: $xl2 + 18px;
	margin-bottom: $s;
	overflow: hidden;

	@include screen('small-desktop') {
		max-height: $xl1 + 50px;
	}

	@include screen('mobile') {
		margin-bottom: $xs;
	}

	@include screen('(max-width: 600px)') {
		max-height: $xl1;
	}

	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
}

.postInfo {
	margin-bottom: $xs;
	@include textXs();

	@include screen('mobile') {
		margin-bottom: $xxs;
	}
}

.userMarker {
	color: $ColorUser;
}

.title {
	@include h3();
	margin-bottom: $xs;

	@include screen('small-desktop') {
		@include h4();
	}

	@include screen('mobile') {
		@include h5();
		margin-bottom: $xxs;
	}
}

.text {
	@include textS();
}
