.post {
	display: flex;
	gap: $s;
	@include textS();

	&:hover > .postImg {
		transform: scale(1.04);
	}

	@include screen('mobile') {
		gap: $xs;
	}

	@include screen('(max-width: 550px)') {
		flex-direction: column;
	}

	&:not(:last-child) {
		margin-bottom: $m + 16px;

		@include screen('mobile') {
			margin-bottom: $s;
		}
	}
}

.postImg {
	height: $xl1 + 30px;
	width: $xl2 + 30px;
	object-fit: cover;
	transition: transform 0.3s ease;

	@include screen('tablet') {
		height: $xl1 + 50px;
	}

	@include screen('mobile') {
		width: 40%;
		max-height: $xl1;
	}

	@include screen('(max-width: 550px)') {
		width: 100%;
	}
}

.postInfo {
	max-width: $xl4 - 30px;

	@include screen('non-desktop') {
		max-width: none;
	}
}

.postTitle {
	text-transform: uppercase;
	margin-bottom: $xxs + 2px;

	@include screen('tablet') {
		margin-bottom: $xxs;
	}

	@include screen('mobile') {
		margin-bottom: $xxs;
	}
}

.postDesc {
	@include h2();
	line-clamp: 2;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;

	margin-bottom: $xs;

	@include screen('tablet') {
		margin-bottom: $xxs;
		@include h3();
	}

	@include screen('mobile') {
		margin-bottom: $xxs;
		@include h4();
	}
}

.postText {
	@include textS();
	color: $ColorTextLight;
	line-clamp: 2;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
