.section {
	background-color: $ColorPurpleLight;
	@include textS();
	margin-bottom: $xxl + 8px;

	@include screen('tablet') {
		margin-bottom: $m;
	}

	@include screen('mobile') {
		margin-bottom: $s;
	}
}

.container {
	position: relative;
	display: flex;
	gap: $s 32px;
	padding: $xxl + 8px $xs - 1px;

	@include screen('tablet') {
		padding: $l - 10px $xs - 1px;
	}

	@include screen('mobile') {
		padding: $s + 8px $xs - 1px;
		flex-direction: column;
	}
}

.userImage {
	width: $xl1 + 51px;
	max-height: $xl2 - 6px;
	object-fit: cover;

	@include screen('mobile') {
		margin: 0 auto;
	}
}

.userInfo {
	max-width: $xl5 - 21px;
}

.intro {
	@include h1();
	margin-bottom: $xs + 8px;

	@include screen('tablet') {
		@include h3();
	}

	@include screen('mobile') {
		@include h4();
	}
}

.desc {
	margin-bottom: $xs + 8px;
}

.icons {
	display: flex;
	gap: $xs;

	& > * {
		width: $xs;
		height: $xs;
		transition: color 0.3s;

		@include screen('mobile') {
			width: $xs + 9px;
			height: $xs + 9px;
		}

		&:hover {
			color: $ColorButton;
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	width: 90%;
	height: $xs + 7;

	@include screen('mobile') {
		display: none;
	}
}

.yellowItem {
	display: block;
	width: 65%;
	background-color: $ColorButton;

	@include screen('tablet') {
		width: $xl3;
	}
}

.purpleItem {
	display: block;
	width: 20%;
	background-color: $ColorUser;

	@include screen('tablet') {
		width: $xl1;
	}
}
